##############################################################################
# Configuration for the bootstrap scripts
##############################################################################

#############################
# Remote host configuration #
#############################

# Name of the key used to access the git server
KEY="chef.key"
# The path where the bootstrap files end up on the remote server
BOOTSTRAP_PATH="/tmp/chef"
# The path where all chef information is stored on the remote server
CHEF_ROOT="/var/chef-solo"
# The username to connect to the remote host as
USERNAME="ubuntu"
# The name of the bootstrap script to copy over
BOOTSTRAP_SCRIPT="bootstrap.sh"

# Location of the ssh key you use to connect to the server. Leave blank if you
# are using the default key or the key is loaded into your ssh agent already.
#SSH_KEY="$HOME/.ssh/ec2.asc"

############################
# Repository configuration #
############################

# Hostnames to pre-populate
SSH_KNOWN_HOSTS="trac.omniti.net src.omniti.com"

# Where the chef scripts are stored.  All chef-solo installations get this.
SCRIPTS_REPO="src@src.omniti.com:~internal/chef/scripts"

# How to get the list of checkouts
FETCH_CHECKOUT_LIST_COMMAND="cat /var/chef-solo/checkout-list"

# Extra files to push via SSH (space separated)
SCHLEP_FILES="checkout-list"
